CLOUDSTACK_ENDPOINT="{{simulator}}/client/api"
export CLOUDSTACK_ENDPOINT

CLOUDSTACK_KEY="{{admin.json.apikey}}"
export CLOUDSTACK_KEY

CLOUDSTACK_SECRET="{{admin.json.secretkey}}"
export CLOUDSTACK_SECRET

CLOUDSTACK_TIMEOUT=60
export CLOUDSTACK_TIMEOUT