name: Collection integration

on:
  pull_request:
    types: [labeled]
  push:
    paths:
      - "plugins/**"
      - "tests/integration/**"
  schedule:
    - cron: 30 6 * * 2

jobs:
  integration-test:
    name: Integration v${{ matrix.container-version }} Ansible-${{ matrix.ansible-branch }} group${{ matrix.group }} Py${{ matrix.python-version }}
    if: ${{ github.event.label.name == 'automation' || github.ref_name == 'master' || github.event_name == 'schedule' }}
    defaults:
      run:
        working-directory: ansible_collections/ngine_io/cloudstack
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.11"
        group:
          - 1
          - 2
        ansible-branch:
          - stable-2.17
        container-version:
          - 1.6.1
          - 1.4.0
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          path: ansible_collections/ngine_io/cloudstack

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install ansible and collection dependencies
        run: |
          python -m pip install --upgrade pip
          pip install https://github.com/ansible/ansible/archive/${{ matrix.ansible-branch }}.tar.gz
          pip install -r requirements.txt

      - name: Build and install collection
        run: |
          ansible-galaxy collection build .
          ansible-galaxy collection install *.gz

      - name: Run the tests
        run: >-
          ansible-test
          integration
          --docker
          -v
          --diff
          --color
          --retry-on-error
          --python ${{ matrix.python-version }}
          --continue-on-error
          --coverage
          shippable/cs/group${{ matrix.group }}/
        env:
          ANSIBLE_CLOUDSTACK_CONTAINER: quay.io/ansible/cloudstack-test-container:${{ matrix.container-version }}

      - name: Generate coverage report.
        run: >-
          ansible-test
          coverage xml
          -v
          --requirements
          --group-by command
          --group-by version
      - uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: false
